# Dependencies
node_modules/
.venv/
venv/
env/
__pycache__/
*.pyc

# Next.js
.next/
out/
build/

# IDEs
.vscode/
.idea/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample
*.env

# System Files
.DS_Store
Thumbs.db

# PDF/Temp files
*.pdf
tmp/
temp/
